<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "description" content="Diebmann: nice living">
    <meta name = "keywords" content="imob,imobiliare,diebmann imobiliare,diebmann">
    <link rel="stylesheet" href="css/style_utils.css">
    <link rel="stylesheet" href="css/diebmann_index_style.css">
    <link rel="stylesheet" media="screen and (max-width: 1200px)" href="css/index_resp_styles/laptop_index.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="css/index_resp_styles/tablet_index.css">
    <title>Welcome | DI</title>
</head>
<body>
    <div id="background-image-index" class="background-image">

    <header>
        <nav id="navbar" class="bg-transparent">
            <div class="container">
                <h1 class="logo">
                    <a href="/">
                    <span class="red-text">Diebmann</span>
                    <span class="pale-text">Imobiliare</span></a>
                </h1>
                <ul>
                    <li>
                        <a class = "current" href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a class = "link-item" href="#">
                            About
                        </a>
                    </li>
                    <li>
                        <a class = "link-item" href="#">
                            Contact
                        </a>
                    </li>
                    <li>
                        <a class = "link-item" href="add_property">
                            Log In
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="showcase">
            <div class="container">
                <div class="showcase">
                    <h1><span class="text-showcase">Your Gateway to a Richer Life</span></h1>
                </div>
            </div>
        </div>
    </header>
    
    <section id="home-apartment-bar">
        <div class="container" id="bar">
            <ul>
                <li class="apartment-bar-element">
                    <div class="apt-bar-cont"> 
                        <h3>Domicile</h3>
                        <a href="home_registry" class="property-image">
                            <img src="img/index_img_res/apt_plan.png" alt="Penthouse plan">
                        </a>
                        <p class="apt-bar-paragraph">
                            Abide as a mogul would
                        </p>
                    </div>
                </li>
                <li class="apartment-bar-element">
                    <div class="apt-bar-cont">
                        <h3>Venture</h3>
                        <a href="#" class="property-image">
                            <img src="img/index_img_res/office_plan.png" alt="Office plan">
                        </a>
                        <p class="apt-bar-paragraph">
                            Pilot your establishment at tycoon-level
                        </p>
                    </div>
                </li>
                <li class="apartment-bar-element">
                    <div class="apt-bar-cont">
                        <h3>Acreage</h3>
                        <a href="#" class="property-image">
                            <img src="img/index_img_res/land_plan.png" alt="Land plot plan">
                        </a>
                        <p class="apt-bar-paragraph">
                            Aggrandize your assets in the upper crust
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <div class="clr"></div>
    <footer id="main-footer">
        <p>Diebmann Imobiliare &copy; 2021, All Rights Reserved</p>
    </footer>
</div>

</body>
</html>